@model  ProvaCandidato.Data.Entidade.Cidade
@{
    ViewBag.Title = "Update";
}

@using (Html.BeginForm("Update", "Cidade", FormMethod.Post, new { style = "margin-bottom:300px;" }))
{
    @Html.HiddenFor(c => c.Codigo)
    <div class="col-md-5">@Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })</div>
    <div class="col-md-3"><button type="submit" class="btn btn-info">Cadastrar</button></div>
}

